<section style="padding-top: 1%;">
<header>
    <div id="carouselIndicators" class="carousel slide" data-ride="carousel">
      <ol class="carousel-indicators">
        <li data-target="#carouselIndicators" data-slide-to="0" class="active"></li>
        <li data-target="#carouselIndicators" data-slide-to="1"></li>
        <li data-target="#carouselIndicators" data-slide-to="2"></li>
        <li data-target="#carouselIndicators" data-slide-to="3"></li>
        <li data-target="#carouselIndicators" data-slide-to="4"></li>
        <li data-target="#carouselIndicators" data-slide-to="5"></li>
      </ol>
      <div class="carousel-inner" role="listbox">
        <!-- Slide One - Set the background image for this slide in the line below -->
        <div class="carousel-item active" style="background-image: url('https://wallpaperplay.com/walls/full/6/1/7/32744.jpg')">
        </div>
        <!-- Slide Two - Set the background image for this slide in the line below -->
        <div class="carousel-item" style="background-image: url('https://i.pinimg.com/originals/84/7d/96/847d9646e85c91d04a954e62704ba93c.jpg')">
        </div>
        <!-- Slide Three - Set the background image for this slide in the line below -->
        <div class="carousel-item" style="background-image: url('https://pickywallpapers.com/img/2018/3/fitness-workout-desktop-wallpaper-890-909-hd-wallpapers.jpg')">
        </div>
        <!-- Slide Four - Set the background image for this slide in the line below -->
        <div class="carousel-item" style="background-image: url('https://wallpaperboat.com/wp-content/uploads/2019/06/workout-27.jpg')">
        </div>
        <!-- Slide Five - Set the background image for this slide in the line below -->
        <div class="carousel-item" style="background-image: url('https://www.flowertown.com/stage/wp-content/uploads/2018/12/Flowertown-Teri-Reeves-6-tips-for-workout-recovery-pappa-and-barkley-Masthead.jpg')">
        </div>
        <!-- Slide Six - Set the background image for this slide in the line below -->
        <div class="carousel-item" style="background-image: url('https://s1.1zoom.me/b4561/245/Fitness_Legs_Push-up_Dumbbells_Brown_haired_565163_1920x1080.jpg')">
        </div>
      </div>
      <a class="carousel-control-prev" href="#carouselIndicators" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
      <a class="carousel-control-next" href="#carouselIndicators" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
    </div>
</header>
</section>

<!-- Animated Arrow -->
<section class="py-5">
    <center>
      <div class="arrow">
        <span></span>
      </div>
    </center>
</section>

<section class="py-5">
</section>

<section class="py-5 rounded" style="margin-left: 10%; margin-right: 10%; padding-left: 10%; padding-right: 10%; background-color:white;">
    <br>
    <center>
      <h1 class="display-4">Creators</h1>
    </center>
    <div class="row text-center" style="padding-left: 2%; padding-right: 2%;">
      <!-- Team item-->
      <div class="col-xl-3 col-sm-6 mb-5">
        <div class="bg-white rounded shadow-lg py-5 px-4 card"><center><img src="https://cdn4.iconfinder.com/data/icons/flat-pro-business-set-1/32/people-customer-unknown-512.png" alt="" width="100" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm"></center>
          <h5 class="mb-0">Rohan More</h5><span class="small text-uppercase text-muted">&#8205;</span>
          <ul class="social mb-0 list-inline mt-3">
            <li class="list-inline-item"><%= link_to image_tag('GitHub-Mark-32px.png',  width: 32, height: 32), "https://github.com/ClientNode", class:"hover", target:"_blank" %></li>
            <li class="list-inline-item"><%= link_to image_tag('LI-In-Bug.png',  width: 32, height: 32), "https://www.linkedin.com/in/rohan-more-507817184/", class:"hover", target:"_blank" %></li>
          </ul>
        </div>
      </div>
      <!-- End-->

      <!-- Team item-->
      <div class="col-xl-3 col-sm-6 mb-5">
        <div class="bg-white rounded shadow-lg py-5 px-4 card"><center><img src="https://cdn4.iconfinder.com/data/icons/flat-pro-business-set-1/32/people-customer-unknown-512.png" alt="" width="100" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm"></center>
          <h5 class="mb-0">Blake Milburn</h5><span class="small text-uppercase text-muted">&#8205;</span>
          <ul class="social mb-0 list-inline mt-3">
            <li class="list-inline-item"><%= link_to image_tag('GitHub-Mark-32px.png',  width: 32, height: 32), "https://github.com/milburn21", class:"hover", target:"_blank" %></li>
            <li class="list-inline-item"><%= link_to image_tag('LI-In-Bug.png',  width: 32, height: 32), "http://linkedin.com", class:"hover", target:"_blank" %></li>
          </ul>
        </div>
      </div>
      <!-- End-->

      <!-- Team item-->
      <div class="col-xl-3 col-sm-6 mb-5">
        <div class="bg-white rounded shadow-lg py-5 px-4 card"><center><img src="https://cdn4.iconfinder.com/data/icons/flat-pro-business-set-1/32/people-customer-unknown-512.png" alt="" width="100" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm"></center>
          <h5 class="mb-0">Raymond Johnson</h5><span class="small text-uppercase text-muted">&#8205;</span>
          <ul class="social mb-0 list-inline mt-3">
            <li class="list-inline-item"><%= link_to image_tag('GitHub-Mark-32px.png',  width: 32, height: 32), "https://github.com/AngealX", class:"hover", target:"_blank" %></li>
            <li class="list-inline-item"><%= link_to image_tag('LI-In-Bug.png',  width: 32, height: 32), "http://linkedin.com", class:"hover", target:"_blank" %></li>
          </ul>
        </div>
      </div>
      <!-- End-->

      <!-- Team item-->
      <div class="col-xl-3 col-sm-6 mb-5">
        <div class="bg-white rounded shadow-lg py-5 px-4 card"><center><img src="https://cdn4.iconfinder.com/data/icons/flat-pro-business-set-1/32/people-customer-unknown-512.png" alt="" width="100" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm"></center>
          <h5 class="mb-0">Jesus Oramas</h5><span class="small text-uppercase text-muted">&#8205;</span>
          <ul class="social mb-0 list-inline mt-3">
            <li class="list-inline-item"><%= link_to image_tag('GitHub-Mark-32px.png',  width: 32, height: 32), "http://github.com", class:"hover", target:"_blank" %></li>
            <li class="list-inline-item"><%= link_to image_tag('LI-In-Bug.png',  width: 32, height: 32), "http://linkedin.com", class:"hover", target:"_blank" %></li>
          </ul>
        </div>
      </div>
      <!-- End-->
    </div>
    <br>
    <center>
    <figure>
      <li class="list-inline-item"><%= link_to image_tag('GitHub-Mark-120px-plus.png',  width: 120, height: 120), "https://github.com/COSC-325", class:"hover", target:"_blank" %>
      <figcaption class="lead">Team Github Page</figcaption></li>
    </figure>
</center>
</section>
<br>
<br>
