<section class="py-5" style="padding-top: 5%;">
  <div class="row">
    <div class="flex-container rounded">
      <div class="column text-center">
        <h1 class="display-4">Upperbody Workouts</h1>
        <!-- Accordion -->
        <br>
        <div id="accordionExample" class="accordion shadow">

          <!-- Accordion item 1 -->
          <div class="card">
            <div id="headingOne" class="card-header bg-white shadow-sm border-0">
              <h2 class="mb-0">
                <button type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne" class="btn collapsed text-dark font-weight-bold text-uppercase collapsible-link">Biceps</button>
              </h2>
            </div>

            <div id="collapseOne" aria-labelledby="headingOne" data-parent="#accordionExample" class="collapse">
              <div class="card-body p-5">
                <div id="headingOne" class="card-header bg-white shadow-lg border-0">
                  <h2 class="mb-0">
                    <button type="button" data-toggle="collapse" data-target="#collapsePreacherCurl" aria-expanded="false" aria-controls="collapsePreacherCurl" class="btn collapsed text-dark font-weight-bold text-uppercase collapsible-link">Preacher Curls</button>
                  </h2>
                  <div id="collapsePreacherCurl" aria-labelledby="headingOne" data-parent="#collapseOne" class="collapse bg-white shadow-sm">
                    <p>Preacher curls can be used with dumbbells, stright barbell, or EZ barbell. The straight barbell is shown in the image above. To do this properly, you must fully extend your arm to get the most out of the exercise. Then bring your arms up to your
                      chin and fully squeeze your biceps to really feel your biceps working.</p>
                    <%= image_tag('preacher_curls.jpeg') %>
                  </div>
                  <br>
                  <h2 class="mb-0">
                    <button type="button" data-toggle="collapse" data-target="#collapseHammerCurl" aria-expanded="false" aria-controls="collapseHammerCurl" class="btn collapsed text-dark font-weight-bold text-uppercase collapsible-link">Hammer Curls</button>
                  </h2>
                  <div id="collapseHammerCurl" aria-labelledby="headingOne" data-parent="#collapseOne" class="collapse bg-white shadow-sm">
                    <p>
                      Hammer curls are used with a dumbbell. To do this exercise properly, you have to start you hands down by your hips, then slowly bring your arms up with the top of the dumbbell faceing the ceiling. Make sure that your forearms do not go past being
                      parallel to the ground. Once you reach the top make sure you squeeze your biceps to get the most out of this exercise.</p>
                    <%= image_tag('hammer_curls.jpeg') %>
                  </div>
                  <br>
                  <h2 class="mb-0">
                    <button type="button" data-toggle="collapse" data-target="#collapseStandingDumbbellCurl" aria-expanded="false" aria-controls="collapseStandingDumbbellCurl" class="btn collapsed text-dark font-weight-bold text-uppercase collapsible-link">Standing Dumbbell Curl</button>
                  </h2>
                  <div id="collapseStandingDumbbellCurl" aria-labelledby="headingOne" data-parent="#collapseOne" class="collapse bg-white shadow-sm">
                    <p>Slowly curl the biceps up as far as you can go and at the top make sure you squeeze your biceps then slowly bring bring them down. Then repeat.</p>
                    <%= image_tag('dumbbell_curl.jpeg') %>
                  </div>
                  <br>
                  <h2 class="mb-0">
                    <button type="button" data-toggle="collapse" data-target="#collapseInclineDumbbellCurl" aria-expanded="false" aria-controls="collapseInclineDumbbellCurl" class="btn collapsed text-dark font-weight-bold text-uppercase collapsible-link">Incline Dumbbell Curl</button>
                  </h2>
                  <div id="collapseInclineDumbbellCurl" aria-labelledby="headingOne" data-parent="#collapseOne" class="collapse bg-white shadow-sm">
                    <p>Sit down at a bench that has an incline to it. The starting position will be with both hands at the sides with a dumbbell in one of each hand. Slowly bring your arms toward your shoulders and really sqeeze your biceps as you move upward. Once
                      reaching the top, slowly bring your arms back down to the starting position then repeat.</p>
                    <%= image_tag('incline_curl.jpeg') %>
                  </div>
                  <br>
                  <h2 class="mb-0">
                    <button type="button" data-toggle="collapse" data-target="#collapseCableRopeCurl" aria-expanded="false" aria-controls="collapseCableRopeCurl" class="btn collapsed text-dark font-weight-bold text-uppercase collapsible-link">Cable Rope Curl</button>
                  </h2>
                  <div id="collapseCableRopeCurl" aria-labelledby="headingOne" data-parent="#collapseOne" class="collapse bg-white shadow-sm">
                    <p>Attach a rope attachment to the pulley and face toward the machine. Grab hold of the rope and begin to move your biceps slowly up tp your chest. Once you reach the top bring the rope slowly back down to the staring position and repeat.</p>
                    <%= image_tag('rope_curls.jpeg') %>
                  </div>
                  <br>
                  <h2 class="mb-0">
                    <button type="button" data-toggle="collapse" data-target="#collapseCableFlexCurl" aria-expanded="false" aria-controls="collapseCableFlexCurl" class="btn collapsed text-dark font-weight-bold text-uppercase collapsible-link">Cable Flex Curl</button>
                  </h2>
                  <div id="collapseCableFlexCurl" aria-labelledby="headingOne" data-parent="#collapseOne" class="collapse bg-white shadow-sm">
                    <p>Adjust the machine so the cable is level with your shoulders. Then grab the left side handle then the right side handle. Slowly bring your hands toward your head. Once you can't go any futher, squeeze your biceps then slowly bring them back the
                      starting position. Then repeat.</p>
                    <%= image_tag('flex_curl.jpeg') %>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- End -->

          <!-- Accordion item 2 -->
          <div class="card">
            <div id="headingOne" class="card-header bg-white shadow-sm border-0">
              <h2 class="mb-0">
                <button type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo" class="btn collapsed text-dark font-weight-bold text-uppercase collapsible-link">Triceps</button>
              </h2>
            </div>

            <div id="collapseTwo" aria-labelledby="headingTwo" data-parent="#accordionExample" class="collapse">
              <div class="card-body p-5">
                <div id="headingOne" class="card-header bg-white shadow-lg border-0">
                  <h2 class="mb-0">
                    <button type="button" data-toggle="collapse" data-target="#collapseClosegripBenchPress" aria-expanded="false" aria-controls="collapseClosegripBenchPress" class="btn collapsed text-dark font-weight-bold text-uppercase collapsible-link">Close-grip Bench Press</button>
                  </h2>
                  <div id="collapseClosegripBenchPress" aria-labelledby="headingTwo" data-parent="#collapseTwo" class="collapse bg-white shadow-sm">
                    <p>Lay down flat on a bench and grab the bar with your hands touching each other in the middle. Slowly push the bar up until your arms are fully extended. Slowly bring the bar back down then repeat.</p>
                    <%= image_tag('close_benchpress.jpeg') %>
                  </div>
                  <br>
                  <h2 class="mb-0">
                    <button type="button" data-toggle="collapse" data-target="#collapseRopeTricepPushdown" aria-expanded="false" aria-controls="collapseRopeTricepPushdown" class="btn collapsed text-dark font-weight-bold text-uppercase collapsible-link">Rope Tricep Pushdown</button>
                  </h2>
                  <div id="collapseRopeTricepPushdown" aria-labelledby="headingTwo" data-parent="#collapseTwo" class="collapse bg-white shadow-sm">
                    <p>Attach a rope to a high pulley station. Grab with both hands both parts of the rope, then slowly push the rope down until your arms are fully extended. Then slowly bring the rope back up and repeat.</p>
                    <%= image_tag('rope_pushdown.jpeg') %>
                  </div>
                  <br>
                  <h2 class="mb-0">
                    <button type="button" data-toggle="collapse" data-target="#collapseOverheadTricepExtension" aria-expanded="false" aria-controls="collapseOverheadTricepExtension" class="btn collapsed text-dark font-weight-bold text-uppercase collapsible-link">Overhead Tricep Extension</button>
                  </h2>
                  <div id="collapseOverheadTricepExtension" aria-labelledby="headingTwo" data-parent="#collapseTwo" class="collapse bg-white shadow-sm">
                    <p>Sit down at a bench with your back fully straight. Bring your arm above your head. Slowly bend your elbows until the weight is being your head. Then slowly bring the weight back up to the starting position. Then repeat.</p>
                    <%= image_tag('overhead_extension.jpeg') %>
                  </div>
                  <br>
                  <h2 class="mb-0">
                    <button type="button" data-toggle="collapse" data-target="#collapseCloseGripPushup" aria-expanded="false" aria-controls="collapseCloseGripPushup" class="btn collapsed text-dark font-weight-bold text-uppercase collapsible-link">Close Grip Push-up</button>
                  </h2>
                  <div id="collapseCloseGripPushup" aria-labelledby="headingTwo" data-parent="#collapseTwo" class="collapse bg-white shadow-sm">
                    <p>Get into a pushup position and have your hands make a diamond shape. Then slowly move down to the ground. once your back is parallel with the ground, push up and squeeze your triceps on the way up. Then repeat.</p>
                    <%= image_tag('close_pushup.jpeg') %>
                  </div>
                  <br>
                  <h2 class="mb-0">
                    <button type="button" data-toggle="collapse" data-target="#collapseDumbbellFloorPress" aria-expanded="false" aria-controls="collapseDumbbellFloorPress" class="btn collapsed text-dark font-weight-bold text-uppercase collapsible-link">Dumbbell Floor Press</button>
                  </h2>
                  <div id="collapseDumbbellFloorPress" aria-labelledby="headingTwo" data-parent="#collapseTwo" class="collapse bg-white shadow-sm">
                    <p>Lay down on the ground with a dumbell in each of your hands. Have your elbows resting on the floor then slowl push up and really squeeze your triceps on the way up until your arms are fully extended. Then slowly bring your arms back down to the
                      starting position and repeat.</p>
                    <%= image_tag('floor_press.jpeg') %>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- End -->

          <!-- Accordion item 3 -->
          <div class="card">
            <div id="headingThree" class="card-header bg-white shadow-sm border-0">
              <h2 class="mb-0">
                <button type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree" class="btn collapsed text-dark font-weight-bold text-uppercase collapsible-link">Traps</button>
              </h2>
            </div>

            <div id="collapseThree" aria-labelledby="headingThree" data-parent="#accordionExample" class="collapse">
              <div class="card-body p-5">
                <div id="headingThree" class="card-header bg-white shadow-lg border-0">
                  <h2 class="mb-0">
                    <button type="button" data-toggle="collapse" data-target="#collapseBarbellShrug" aria-expanded="false" aria-controls="collapseBarbellShrug" class="btn collapsed text-dark font-weight-bold text-uppercase collapsible-link">Barbell Shrug</button>
                  </h2>
                  <div id="collapseBarbellShrug" aria-labelledby="headingThree" data-parent="#collapseThree" class="collapse bg-white shadow-sm">
                    <p>Grab a barbell with your hands just beyond shoulder length apart. Let the bar hang infornt of your waist then shrug your shoulders has high as you can go and really squeeze at the top. Then slowly bring the bar back down to the starting position
                      and repeat.</p>
                    <%= image_tag('barbell_shrug.jpeg') %>
                  </div>
                  <br>
                  <h2 class="mb-0">
                    <button type="button" data-toggle="collapse" data-target="#collapseDumbbellShrug" aria-expanded="false" aria-controls="collapseDumbbellShrug" class="btn collapsed text-dark font-weight-bold text-uppercase collapsible-link">Dumbbell Shrug</button>
                  </h2>
                  <div id="collapseDumbbellShrug" aria-labelledby="headingThree" data-parent="#collapseThree" class="collapse bg-white shadow-sm">
                    <p>Grap two dumbbells ad let them hang along your side. Then shrug your shoulders as high as you can. Once you reach the top really squeeze your traps then slowly bring it back down to the starting position. Then repeat.</p>
                    <%= image_tag('dumbbell_shrug.jpeg') %>
                  </div>
                  <br>
                  <h2 class="mb-0">
                    <button type="button" data-toggle="collapse" data-target="#collapseBarbellBehindtheBackShrug" aria-expanded="false" aria-controls="collapseBarbellBehindtheBackShrug" class="btn collapsed text-dark font-weight-bold text-uppercase collapsible-link">Barbell Behind-the-Back Shrug</button>
                  </h2>
                  <div id="collapseBarbellBehindtheBackShrug" aria-labelledby="headingThree" data-parent="#collapseThree" class="collapse bg-white shadow-sm">
                    <p>This is the same exercise as the barbell shurg but you are just moving the bar to the back of you.</p>
                    <%= image_tag('behind_back.jpeg') %>
                  </div>
                  <br>
                  <h2 class="mb-0">
                    <button type="button" data-toggle="collapse" data-target="#collapseDumbbellOverheadCarry" aria-expanded="false" aria-controls="collapseDumbbellOverheadCarry" class="btn collapsed text-dark font-weight-bold text-uppercase collapsible-link">Dumbbell Overhead Carry</button>
                  </h2>
                  <div id="collapseDumbbellOverheadCarry" aria-labelledby="headingThree" data-parent="#collapseThree" class="collapse bg-white shadow-sm">
                    <p>Grab a dumbbells in each of your hands. Then press them over your head and walk forward. Do this until your traps are getting worn out.</p>
                    <%= image_tag('over_carry.jpeg') %>
                  </div>
                  <br>
                  <h2 class="mb-0">
                    <button type="button" data-toggle="collapse" data-target="#collapseDumbbellLateralRaise" aria-expanded="false" aria-controls="collapseDumbbellLateralRaise" class="btn collapsed text-dark font-weight-bold text-uppercase collapsible-link">Dumbbell Lateral Raise</button>
                  </h2>
                  <div id="collapseDumbbellLateralRaise" aria-labelledby="headingThree" data-parent="#collapseThree" class="collapse bg-white shadow-sm">
                    <p>Grap a pair of dumbells and let your hands hang to the sides of your body. Then slowly bring thr weights up to your shoulders. You should form a T-shape. Hold there for a second or two then slowly bring them back to the starting position. Then
                      repeat.</p>
                    <%= image_tag('lateral_raise.jpeg') %>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- End -->

          <!-- Accordion item 4 -->
          <div class="card">
            <div id="headingFour" class="card-header bg-white shadow-sm border-0">
              <h2 class="mb-0">
                <button type="button" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour" class="btn collapsed text-dark font-weight-bold text-uppercase collapsible-link">Shoulders</button>
              </h2>
            </div>

            <div id="collapseFour" aria-labelledby="headingFour" data-parent="#accordionExample" class="collapse">
              <div class="card-body p-5">
                <div id="headingFour" class="card-header bg-white shadow-lg border-0">
                  <h2 class="mb-0">
                    <button type="button" data-toggle="collapse" data-target="#collapseMilitaryPress" aria-expanded="false" aria-controls="collapseMilitaryPress" class="btn collapsed text-dark font-weight-bold text-uppercase collapsible-link">Military Press</button>
                  </h2>
                  <div id="collapseMilitaryPress" aria-labelledby="headingFour" data-parent="#collapseFour" class="collapse bg-white shadow-sm">
                    <p>Start with either two dumbbells or a barbell. Have your hands a little more than shoulder width apart. Then press up until your arms are fully extended. Then slowly bring them back down to your chest then repeat.</p>
                    <%= image_tag('miliarty_press.jpeg') %>
                  </div>
                  <br>
                  <h2 class="mb-0">
                    <button type="button" data-toggle="collapse" data-target="#collapseFrontRaise" aria-expanded="false" aria-controls="collapseFrontRaise" class="btn collapsed text-dark font-weight-bold text-uppercase collapsible-link">Front Raise</button>
                  </h2>
                  <div id="collapseFrontRaise" aria-labelledby="headingFour" data-parent="#collapseFour" class="collapse bg-white shadow-sm">
                    <p>Start with a dumbbell in both of your hands. Let then hang down the side of you then slowly bring them up to your chin with your arm bent just a little and the palm of your hand facing down to then ground. Then slowly bring them back down to the
                      starting position and repeat.</p>
                    <%= image_tag('front_raise.jpeg') %>
                  </div>
                  <br>
                  <h2 class="mb-0">
                    <button type="button" data-toggle="collapse" data-target="#collapseYPress" aria-expanded="false" aria-controls="collapseYPress" class="btn collapsed text-dark font-weight-bold text-uppercase collapsible-link">Y Press</button>
                  </h2>
                  <div id="collapseYPress" aria-labelledby="headingFour" data-parent="#collapseFour" class="collapse bg-white shadow-sm">
                    <p>Sit down at a bench woth your arms starting in a 90 degree angle. Then press your arms up to form a Y at the top. Then slowly bring your arms back down and repeat.</p>
                    <%= image_tag('Y_press.jpeg') %>
                  </div>
                  <br>
                  <h2 class="mb-0">
                    <button type="button" data-toggle="collapse" data-target="#collapseArnoldPress" aria-expanded="false" aria-controls="collapseArnoldPress" class="btn collapsed text-dark font-weight-bold text-uppercase collapsible-link">Arnold Press</button>
                  </h2>
                  <div id="collapseArnoldPress" aria-labelledby="headingFour" data-parent="#collapseFour" class="collapse bg-white shadow-sm">
                    <p>Start with two dumbbells and hold them infornt of your chest with your palms facing you. Then start to press up but in doing so rotate your palms around so when you reach the top, your palms are facing away from you. Then slowly bring your arms
                      back down to the starting position and repeat.</p>
                    <%= image_tag('arnold_press.jpeg') %>
                  </div>
                  <br>
                  <h2 class="mb-0">
                    <button type="button" data-toggle="collapse" data-target="#collapseDumbbellLateralRaise" aria-expanded="false" aria-controls="collapseDumbbellLateralRaise" class="btn collapsed text-dark font-weight-bold text-uppercase collapsible-link">Lateral Raise</button>
                  </h2>
                  <div id="collapseDumbbellLateralRaise" aria-labelledby="headingFour" data-parent="#collapseFour" class="collapse bg-white shadow-sm">
                    <p>Start with two dumbbells in your hands and let them hang to the side of your body. Slowly raise your arms to the side up to your shoulders. This should make a T-shape at the top. Then slowly bring your arms back down to the starting position and
                      repeat.</p>
                    <%= image_tag('lateral_raise.jpeg') %>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- End -->

          <!-- Accordion item 5 -->
          <div class="card">
            <div id="headingFive" class="card-header bg-white shadow-sm border-0">
              <h2 class="mb-0">
                <button type="button" data-toggle="collapse" data-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive" class="btn collapsed text-dark font-weight-bold text-uppercase collapsible-link">Back</button>
              </h2>
            </div>

            <div id="collapseFive" aria-labelledby="headingFive" data-parent="#accordionExample" class="collapse">
              <div class="card-body p-5">
                <div id="headingFive" class="card-header bg-white shadow-lg border-0">
                  <h2 class="mb-0">
                    <button type="button" data-toggle="collapse" data-target="#collapseLatPulldowns" aria-expanded="false" aria-controls="collapseLatPulldowns" class="btn collapsed text-dark font-weight-bold text-uppercase collapsible-link">Lat Pulldowns</button>
                  </h2>
                  <div id="collapseLatPulldowns" aria-labelledby="headingFive" data-parent="#collapseFive" class="collapse bg-white shadow-sm">
                    <p>Sit down on the lat pulldown machine and adjust the pad so its touching your thighs, then grap the bar wider than shoulder width apart. Then slowly pull the bar down to your chest and really focus on squeezing your lats. Then slowly let the bar go
                      back up to the starting position and repeat.</p>
                    <%= image_tag('lat_pulldown.jpeg') %>
                  </div>
                  <br>
                  <h2 class="mb-0">
                    <button type="button" data-toggle="collapse" data-target="#collapseSinglearmDumbbellRow" aria-expanded="false" aria-controls="collapseSinglearmDumbbellRow" class="btn collapsed text-dark font-weight-bold text-uppercase collapsible-link">Single-arm Dumbbell Row</button>
                  </h2>
                  <div id="collapseSinglearmDumbbellRow" aria-labelledby="headingFive" data-parent="#collapseFive" class="collapse bg-white shadow-sm">
                    <p>Let your knee and hand be on the bench for your support and let your other leg stand on the ground. Pick up the bar and make sure that your keep your back parallel to thr ground. Then pull the dumbbell up toward the sky and focus on squeezing your
                      lat then slowly bring thr weight back down and repeat.</p>
                    <%= image_tag('dumbbell_row.jpeg') %>
                  </div>
                  <br>
                  <h2 class="mb-0">
                    <button type="button" data-toggle="collapse" data-target="#collapseSeatedCableRow" aria-expanded="false" aria-controls="collapseSeatedCableRow" class="btn collapsed text-dark font-weight-bold text-uppercase collapsible-link">Seated Cable Row</button>
                  </h2>
                  <div id="collapseSeatedCableRow" aria-labelledby="headingFive" data-parent="#collapseFive" class="collapse bg-white shadow-sm">
                    <p>Sit down at the cable row machine, grab the bar and lean back so your bode is perpendicular to the ground and pull back the bar to your chest. Really focus on squeezing your lats when moving the bar back. Then slowly bring the bar back to the
                      starting position and repeat.</p>
                    <%= image_tag('cable_row.jpeg') %>
                  </div>
                  <br>
                  <h2 class="mb-0">
                    <button type="button" data-toggle="collapse" data-target="#collapsePullups" aria-expanded="false" aria-controls="collapsePullups" class="btn collapsed text-dark font-weight-bold text-uppercase collapsible-link">Pullups</button>
                  </h2>
                  <div id="collapsePullups" aria-labelledby="headingFive" data-parent="#collapseFive" class="collapse bg-white shadow-sm">
                    <p>Find a staright bar then grab the bar with your palms facing away from you. Slowly pull yourself up until your chin is fully over the bar then slowly bring your amrs back down. Make sure that your arms are fully extended before you start your next
                      rep.</p>
                    <%= image_tag('pullups.jpeg') %>
                  </div>
                  <br>
                  <h2 class="mb-0">
                    <button type="button" data-toggle="collapse" data-target="#collapseStarightArmCablePulldown" aria-expanded="false" aria-controls="collapseStarightArmCablePulldown" class="btn collapsed text-dark font-weight-bold text-uppercase collapsible-link">Staright Arm Cable Pulldown</button>
                  </h2>
                  <div id="collapseStarightArmCablePulldown" aria-labelledby="headingFive" data-parent="#collapseFive" class="collapse bg-white shadow-sm">
                    <p>Grab a staright bar attachment and attach it to the cable pulley. Make sure it is at the top and grab the bar wiht both hands and step away so that your arms are fully extended. Slowly pull down the bar to it hits your upper thigh and really
                      squeeze your lats. Then slowly bring it back up to the starting position and repeat.</p>
                    <%= image_tag('striaght_arm_pulldown.jpeg') %>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- End -->

        </div>
      </div>

      <div class="column text-center">
        <h1 class="display-4">Lowerbody Workouts</h1>
        <!-- Accordion 2 LOWERBODY WORKOUTS-->
        <br>
        <div id="accordionExample2" class="accordion shadow">

          <!-- Accordion item 1 -->
          <div class="card">
            <div id="headingOne" class="card-header bg-white shadow-sm border-0">
              <h2 class="mb-0">
                <button type="button" data-toggle="collapse" data-target="#lbcollapseOne" aria-expanded="false" aria-controls="lbcollapseOne" class="btn collapsed text-dark font-weight-bold text-uppercase collapsible-link">Quads</button>
              </h2>
            </div>

            <div id="lbcollapseOne" aria-labelledby="headingOne" data-parent="#accordionExample2" class="collapse">
              <div class="card-body p-5">
                <div id="headingOne" class="card-header bg-white shadow-lg border-0">
                  <h2 class="mb-0">
                    <button type="button" data-toggle="collapse" data-target="#collapseFrontSquat" aria-expanded="false" aria-controls="collapseFrontSquat" class="btn collapsed text-dark font-weight-bold text-uppercase collapsible-link">Front Squat</button>
                  </h2>
                  <div id="collapseFrontSquat" aria-labelledby="headingOne" data-parent="#lbcollapseOne" class="collapse bg-white shadow-sm">
                    <p>Get on a squat rack and let the bar rest on your shoulders. Stand with your feet shoulder length apart Then squat as low as you can go and keep tension on your quads. Once you cannot go any further push back up to the starting position and repeat.</p>
                    <%= image_tag('front_squat.jpeg') %>
                  </div>
                  <br>
                  <h2 class="mb-0">
                    <button type="button" data-toggle="collapse" data-target="#collapseBoxSquat" aria-expanded="false" aria-controls="collapseBoxSquat" class="btn collapsed text-dark font-weight-bold text-uppercase collapsible-link">Box Squat</button>
                  </h2>
                  <div id="collapseBoxSquat" aria-labelledby="headingOne" data-parent="#lbcollapseOne" class="collapse bg-white shadow-sm">
                    <p>Pull up a bench and set it behind the squat rack. Grab the bar with a wide grip and rest the bar on your shoulder blades. Squat down until your glutes hit the box then explode up to the starting position and repeat.</p>
                    <%= image_tag('box_squat.jpeg') %>
                  </div>
                  <br>
                  <h2 class="mb-0">
                    <button type="button" data-toggle="collapse" data-target="#collapseWalkingLunges" aria-expanded="false" aria-controls="collapseWalkingLunges" class="btn collapsed text-dark font-weight-bold text-uppercase collapsible-link">Walking Lunges</button>
                  </h2>
                  <div id="collapseWalkingLunges" aria-labelledby="headingOne" data-parent="#lbcollapseOne" class="collapse bg-white shadow-sm">
                    <p>Grap two dumbbells and hold one in each of your hands. Take one step and lower down into a lunge with your knee almost hitting the ground. Stand back up and then do it with your other leg.</p>
                    <%= image_tag('walking_lunges.jpeg') %>
                  </div>
                  <br>
                  <h2 class="mb-0">
                    <button type="button" data-toggle="collapse" data-target="#collapseLegPress" aria-expanded="false" aria-controls="collapseLegPress" class="btn collapsed text-dark font-weight-bold text-uppercase collapsible-link">Leg Press</button>
                  </h2>
                  <div id="collapseLegPress" aria-labelledby="headingOne" data-parent="#lbcollapseOne" class="collapse bg-white shadow-sm">
                    <p>Sit down at the leg press machine and lift your legs on the machine with your legs being shoulder width apart. Then slowly bring the mahcine down so your legs makes a 90 degree angle then slowly bring your legs to the starting position. Make sure
                      your legs are not fully extended once you go back up. It could cause you to get extremely injured.
                    </p>
                    <%= image_tag('leg_press.jpeg') %>
                  </div>
                  <br>
                  <h2 class="mb-0">
                    <button type="button" data-toggle="collapse" data-target="#collapseLegExtensions" aria-expanded="false" aria-controls="collapseLegExtensions" class="btn collapsed text-dark font-weight-bold text-uppercase collapsible-link">Leg Extensions</button>
                  </h2>
                  <div id="collapseLegExtensions" aria-labelledby="headingOne" data-parent="#lbcollapseOne" class="collapse bg-white shadow-sm">
                    <p>Sit down at the leg extension machine and adjust the pad so it is resting right between your mid shin and the top of your ankle. As you lift the bar with your legs make sure you control the weight. Once your leg is parallel to the ground, slowly
                      bring the bar back down and repeat.</p>
                    <%= image_tag('leg_extensions.jpeg') %>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- End -->

          <!-- Accordion item 2 -->
          <div class="card">
            <div id="headingOne" class="card-header bg-white shadow-sm border-0">
              <h2 class="mb-0">
                <button type="button" data-toggle="collapse" data-target="#lbcollapseTwo" aria-expanded="false" aria-controls="lbcollapseTwo" class="btn collapsed text-dark font-weight-bold text-uppercase collapsible-link">Hamstring</button>
              </h2>
            </div>

            <div id="lbcollapseTwo" aria-labelledby="headingTwo" data-parent="#accordionExample2" class="collapse">
              <div class="card-body p-5">
                <div id="headingOne" class="card-header bg-white shadow-lg border-0">
                  <h2 class="mb-0">
                    <button type="button" data-toggle="collapse" data-target="#collapseDeadlift" aria-expanded="false" aria-controls="collapseDeadlift" class="btn collapsed text-dark font-weight-bold text-uppercase collapsible-link">Deadlift</button>
                  </h2>
                  <div id="collapseDeadlift" aria-labelledby="headingTwo" data-parent="#lbcollapseTwo" class="collapse bg-white shadow-sm">
                    <p>Grap a bar and set it down infront of your feet. Have your legs shoulder width apart and grap the bar. Pull the bar up but make sure your keep your back totally straightto prevent any back injury. Once you stand up slowly bring the bar back down
                      to the ground and repeat.</p>
                    <%= image_tag('deadlift.jpeg') %>
                  </div>
                  <br>
                  <h2 class="mb-0">
                    <button type="button" data-toggle="collapse" data-target="#collapseMachineLegCurl" aria-expanded="false" aria-controls="collapseMachineLegCurl" class="btn collapsed text-dark font-weight-bold text-uppercase collapsible-link">Machine Leg Curl</button>
                  </h2>
                  <div id="collapseMachineLegCurl" aria-labelledby="headingTwo" data-parent="#lbcollapseTwo" class="collapse bg-white shadow-sm">
                    <p>Lay down at the machine and adjust the pad so it is laying on your achilles. Lift the bar up so you make a 90 degree angle with your legs. Then slowly bring the bar backdown to the starting position and repeat.</p>
                    <%= image_tag('leg_curl.jpeg') %>
                  </div>
                  <br>
                  <h2 class="mb-0">
                    <button type="button" data-toggle="collapse" data-target="#collapseGluteHamRaise" aria-expanded="false" aria-controls="collapseGluteHamRaise" class="btn collapsed text-dark font-weight-bold text-uppercase collapsible-link">Glute Ham Raise</button>
                  </h2>
                  <div id="collapseGluteHamRaise" aria-labelledby="headingTwo" data-parent="#lbcollapseTwo" class="collapse bg-white shadow-sm">
                    <p>Adjust the foot plate back so the when you lie on it the pad will be right at your hips. Slowly lean forward until the pad reaches your hips then slowly bring your bodyback to the starting position. On the way up, make sure your really squeeze
                      your hamstrings.</p>
                    <%= image_tag('ham_raise.jpeg') %>
                  </div>
                  <br>
                  <h2 class="mb-0">
                    <button type="button" data-toggle="collapse" data-target="#collapseWalkingLunges2" aria-expanded="false" aria-controls="collapseWalkingLunges2" class="btn collapsed text-dark font-weight-bold text-uppercase collapsible-link">Walking Lunges</button>
                  </h2>
                  <div id="collapseWalkingLunges2" aria-labelledby="headingTwo" data-parent="#lbcollapseTwo" class="collapse bg-white shadow-sm">
                    <p>Grap two dumbbells and hold one in each of your hands. Take one step and lower down into a lunge with your knee almost hitting the ground. Stand back up and then do it with your other leg.</p>
                    <%= image_tag('walking_lunges.jpeg') %>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- End -->

          <!-- Accordion item 3 -->
          <div class="card">
            <div id="headingThree" class="card-header bg-white shadow-sm border-0">
              <h2 class="mb-0">
                <button type="button" data-toggle="collapse" data-target="#lbcollapseThree" aria-expanded="false" aria-controls="lbcollapseThree" class="btn collapsed text-dark font-weight-bold text-uppercase collapsible-link">Glutes</button>
              </h2>
            </div>

            <div id="lbcollapseThree" aria-labelledby="headingThree" data-parent="#accordionExample2" class="collapse">
              <div class="card-body p-5">
                <div id="headingThree" class="card-header bg-white shadow-lg border-0">
                  <h2 class="mb-0">
                    <button type="button" data-toggle="collapse" data-target="#collapseBarbellSquat" aria-expanded="false" aria-controls="collapseBarbellSquat" class="btn collapsed text-dark font-weight-bold text-uppercase collapsible-link">Barbell Squat</button>
                  </h2>
                  <div id="collapseBarbellSquat" aria-labelledby="headingThree" data-parent="#lbcollapseThree" class="collapse bg-white shadow-sm">
                    <p>Rest the bar on your shoulder blades and have your legs a little wider tan shoulder width apart.Then slowly squat until your legs hit 90 degrees then slowly stand back up. Make sure you keep your back comepletely staright.</p>
                    <%= image_tag('squat.jpeg') %>
                  </div>
                  <br>
                  <h2 class="mb-0">
                    <button type="button" data-toggle="collapse" data-target="#collapseDeadlift2" aria-expanded="false" aria-controls="collapseDeadlift2" class="btn collapsed text-dark font-weight-bold text-uppercase collapsible-link">Deadlift</button>
                  </h2>
                  <div id="collapseDeadlift2" aria-labelledby="headingThree" data-parent="#lbcollapseThree" class="collapse bg-white shadow-sm">
                    <p>Grap a bar and set it down infront of your feet. Have your legs shoulder width apart and grap the bar. Pull the bar up but make sure your keep your back totally straight to prevent any back injury. Once you stand up slowly bring the bar back down
                      to the ground and repeat.</p>
                    <%= image_tag('deadlift.jpeg') %>
                  </div>
                  <br>
                  <h2 class="mb-0">
                    <button type="button" data-toggle="collapse" data-target="#collapseWalkingLunges3" aria-expanded="false" aria-controls="collapseWalkingLunges3" class="btn collapsed text-dark font-weight-bold text-uppercase collapsible-link">Walking Lunges</button>
                  </h2>
                  <div id="collapseWalkingLunges3" aria-labelledby="headingThree" data-parent="#lbcollapseThree" class="collapse bg-white shadow-sm">
                    <p>Grap two dumbbells and hold one in each of your hands. Take one step and lower down into a lunge with your knee almost hitting the ground. Stand back up and then do it with your other leg.</p>
                    <%= image_tag('walking_lunges.jpeg') %>
                  </div>
                  <br>
                  <h2 class="mb-0">
                    <button type="button" data-toggle="collapse" data-target="#collapseGluteHamRaise2" aria-expanded="false" aria-controls="collapseGluteHamRaise2" class="btn collapsed text-dark font-weight-bold text-uppercase collapsible-link">Glute Ham Raise</button>
                  </h2>
                  <div id="collapseGluteHamRaise2" aria-labelledby="headingThree" data-parent="#lbcollapseThree" class="collapse bg-white shadow-sm">
                    <p>Adjust the foot plate back so the when you lie on it the pad will be right at your hips. Slowly lean forward until the pad reaches your hips then slowly bring your body back to the starting position. On the way up, make sure your really squeeze
                      your hamstrings.</p>
                    <%= image_tag('ham_raise.jpeg') %>
                  </div>
                  <br>
                  <h2 class="mb-0">
                    <button type="button" data-toggle="collapse" data-target="#collapseCableKickback" aria-expanded="false" aria-controls="collapseCableKickback" class="btn collapsed text-dark font-weight-bold text-uppercase collapsible-link">Cable Kickback</button>
                  </h2>
                  <div id="collapseCableKickback" aria-labelledby="headingThree" data-parent="#lbcollapseThree" class="collapse bg-white shadow-sm">
                    <p>Lower the cable pulley to the lowest it can go. Stand facing the cable and put your foot inside the cable handle. Use your glute to pull your foot behind you. Then slolwy bring it back to the starting position and repeat.</p>
                    <%= image_tag('cable_kickback.jpeg') %>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- End -->

          <!-- Accordion item 4 -->
          <div class="card">
            <div id="headingFour" class="card-header bg-white shadow-sm border-0">
              <h2 class="mb-0">
                <button type="button" data-toggle="collapse" data-target="#lbcollapseFour" aria-expanded="false" aria-controls="lbcollapseFour" class="btn collapsed text-dark font-weight-bold text-uppercase collapsible-link">Calves</button>
              </h2>
            </div>

            <div id="lbcollapseFour" aria-labelledby="headingFour" data-parent="#accordionExample2" class="collapse">
              <div class="card-body p-5">
                <div id="headingFour" class="card-header bg-white shadow-lg border-0">
                  <h2 class="mb-0">
                    <button type="button" data-toggle="collapse" data-target="#collapseSeatedCalfRaise" aria-expanded="false" aria-controls="collapseSeatedCalfRaise" class="btn collapsed text-dark font-weight-bold text-uppercase collapsible-link">Seated Calf Raise</button>
                  </h2>
                  <div id="collapseSeatedCalfRaise" aria-labelledby="headingFour" data-parent="#lbcollapseFour" class="collapse bg-white shadow-sm">
                    <p>Garp a 45 pound weight and place it at your feet. Grab two dumbbells and place them on your knees while holding them with your hands. Place your toes on the 45 pound weight and drive the balls of your feet until you stretch out your calves. Then
                      slowly bring your calves back to the starting position and repeat.</p>
                    <%= image_tag('calf_raise.jpeg') %>
                  </div>
                  <br>
                  <h2 class="mb-0">
                    <button type="button" data-toggle="collapse" data-target="#collapseSeatedCalfRaiseToesin" aria-expanded="false" aria-controls="collapseSeatedCalfRaiseToesin" class="btn collapsed text-dark font-weight-bold text-uppercase collapsible-link">Seated Calf Raise (Toes in)</button>
                  </h2>
                  <div id="collapseSeatedCalfRaiseToesin" aria-labelledby="headingFour" data-parent="#lbcollapseFour" class="collapse bg-white shadow-sm">
                    <p>Toes in toward each other. Garp a 45 pound weight and place it at your feet. Grab two dumbbells and place them on your knees while holding them with your hands. Place your toes on the 45 pound weight and drive the balls of your feet until you
                      stretch out your calves. Then slowly bring your calves back to the starting position and repeat.</p>
                    <%= image_tag('toes_in.jpeg') %>
                  </div>
                  <br>
                  <h2 class="mb-0">
                    <button type="button" data-toggle="collapse" data-target="#collapseTiptoeWalk" aria-expanded="false" aria-controls="collapseTiptoeWalk" class="btn collapsed text-dark font-weight-bold text-uppercase collapsible-link">Tiptoe Walk</button>
                  </h2>
                  <div id="collapseTiptoeWalk" aria-labelledby="headingFour" data-parent="#lbcollapseFour" class="collapse bg-white shadow-sm">
                    <p>Walk on your tiptoes but make sure your really focus on squeezing your calves.</p>
                    <%= image_tag('tiptoe_walk.jpeg') %>
                  </div>
                  <br>
                  <h2 class="mb-0">
                    <button type="button" data-toggle="collapse" data-target="#collapseJumpingCalfRaise" aria-expanded="false" aria-controls="collapseJumpingCalfRaise" class="btn collapsed text-dark font-weight-bold text-uppercase collapsible-link">Jumping Calf Raise</button>
                  </h2>
                  <div id="collapseJumpingCalfRaise" aria-labelledby="headingFour" data-parent="#lbcollapseFour" class="collapse bg-white shadow-sm">
                    <p>Make sure when your jump that you really focus on squeexing your calves.</p>
                    <%= image_tag('jump_calf.jpeg') %>
                  </div>
                  <br>
                  <h2 class="mb-0">
                    <button type="button" data-toggle="collapse" data-target="#collapseSeatedCalfRaiseMachine" aria-expanded="false" aria-controls="collapseSeatedCalfRaiseMachine" class="btn collapsed text-dark font-weight-bold text-uppercase collapsible-link">Seated Calf Raise Machine</button>
                  </h2>
                  <div id="collapseSeatedCalfRaiseMachine" aria-labelledby="headingFour" data-parent="#lbcollapseFour" class="collapse bg-white shadow-sm">
                    <p>Sit on the machine and adjust the pad so it lies on your upper knee. Then slowly push up on the balls of your feet and squeeze your calves. Then slowly bring it down to the starting position and repeat.</p>
                    <%= image_tag('seated_calf_machine.jpeg') %>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- End -->

        </div>
      </div>
    </div>
  </div>
<section>

<section class="py-5 rounded" style="margin-left: 10%; margin-right: 10%; padding-left: 10%; padding-right: 10%; margin-top: 5%;">
</section>
<div>
  <div class="flex-container">
    <div class="column text-center rounded">
      <h1 class="display-4">BMI Calculator</h1>
      <br>
      <p class="lead">Weight (Pounds)
        <input class="form-control" type="text" id="bmiWeight"/></p>
      <p class="lead">Height (Inches)
        <input class="form-control" type="text" id="bmiHeight"/></p>
      <input class="btn btn-primary" type="submit" value="Compute BMI" onclick="getBMI();">
      <br>
      <br>
      <p class="lead"><strong>BMI:
        <span id="bmiAnswer">NaN</span></strong>
      </p>
    </div>

    <hr style="padding: 5%; clear: both; visibility: hidden;">

    <div class="column text-center rounded">
      <h1 class="display-4">Calorie Calculator</h1>
      <br>
      <p class="lead">Age
        <input class="form-control" type="text" id="ccAge"/>
      </p>
      <p class="lead">Gender:
        <label><input type="radio" name="ccGender" id="male" checked>Male</label>
        <label><input type="radio" name="ccGender" id="female">Female</label>
      </p>
      <p class="lead">Weight (Pounds)
        <input class="form-control" type="text" id="ccWeight"/>
      </p>
      <p class="lead">Height (Inches)
        <input class="form-control" type="text" id="ccHeight"/>
      </p>
      <input class="btn btn-primary" type="submit" value="Compute Calories" onclick="getCalorie();">
      <br>
      <br>
      <p class="lead"><strong>BMR:
        <span id="ccAnswer">NaN</span> Calories/day</strong>
      </p>
    </div>
  </div>
</div>
<br>
<br>


<script type="text/javascript">
  function getBMI() {
    var weight = Number(document.getElementById("bmiWeight").value);
    var height = Number(document.getElementById("bmiHeight").value);
    var answer = (703 * weight) / (Math.pow(height, 2));
    document.getElementById("bmiAnswer").innerText = Math.round(answer * 100) / 100;
  }

function getCalorie() {
    var age = Number(document.getElementById("ccAge").value);
    var height = Number(document.getElementById("ccHeight").value) * 2.54;
    var weight = Number(document.getElementById("ccWeight").value) / 2.205;
    console.log(weight);
    var answer;
    if (document.getElementById('male').checked) {
      answer = (10 * weight) + (6.25 * height) - (5 * age) + 5;
    } else if (document.getElementById('female').checked) {
      answer = (10 * weight) + (6.25 * height) - (5 * age) - 161;
    }
  document.getElementById("ccAnswer").innerText = Math.round(answer);
  }
</script>
